/* CSS declarations go here */

.intro-header{
  background: url('home-bg.jpg');
}

.post-preview{
  width:60%;
  margin: auto;
}

.post-preview img{
  width: 100%;
}

.image-wrapper {
  height: 400px;
  overflow: hidden;
}

#login-name-link{
  color: #0085A1 !important;
}
